<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Tracker Tugas</title>
</head>
<body>
    <h1> Tambah Tugas {{nama}} di sini</h1>
    <a href="/lab-4/">Kembali</a>
    <form action="" method="post">
        {% csrf_token %}
        {{tugas_form.as_ul}}
        <button type="submit">Simpan Tugas</button>
    </form>
</body>
</html>
