<!DOCTYPE html>
<html lang="en">
<style>
    form{
      border: 2px solid #773611;
      text-align: center;
      padding: 5px;
      width: fit-content;
    }

    p{
      text-align: center;
      align-items: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Film</title>
</head>
<body>
    <h1 align = "center">Tambah Film</h1>
    <form action="" method="post" align= "center">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    <p>
        <a href="/lab-5">Lihat Dalam Bentuk Tabel</a>
        ||
        <a href="/lab-5/watchlist">Lihat Dalam Bentuk Card</a>
    </p>
</body>
</html>
