<!DOCTYPE html>
<html lang="en">
  <style>
    div{
      border: 2px solid #773611;
      margin: 9px;
      padding: 9px;
      width: fit-content;
      align-content: center;
    }
  </style>

  <head>
    <meta charset="UTF-8" />
    <title>My Watch List</title>
  </head>
  <body> 
      {% for item in list_film %}
      <div align="center" >
        <h1>{{item.title}}</h1>
        <img src="{{item.image_content.url}}" alt="lab5 image" width="250" height="250">
        <p>Rating: {{item.rating}}</p>
        <p>Release Date: {{item.release_date}}</p>
        <p style="font-weight: bold;">Review</p>
        <p>{{item.review}}</p>
      </div>
      {% endfor %}

    <p align = 'center'>
      <a href="/lab-5/add">Add Review</a>
      ||
      <a href="/lab-5">Lihat Dalam Bentuk Tabel</a>
    </p>
  </body>
</html>
